%%%-------------------------------------------------------------------
%%% @author Evgeny Khramtsov <ekhramtsov@process-one.net>
%%% @copyright (C) 2002-2024 ProcessOne, SARL. All Rights Reserved.
%%%
%%% Licensed under the Apache License, Version 2.0 (the "License");
%%% you may not use this file except in compliance with the License.
%%% You may obtain a copy of the License at
%%%
%%%     http://www.apache.org/licenses/LICENSE-2.0
%%%
%%% Unless required by applicable law or agreed to in writing, software
%%% distributed under the License is distributed on an "AS IS" BASIS,
%%% WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
%%% See the License for the specific language governing permissions and
%%% limitations under the License.
%%%
%%%-------------------------------------------------------------------

{erl_opts, [debug_info,
	    {src_dirs, ["src"]},
	    {i, "include"},
	    {if_version_below, "27", {d, 'OTP_BELOW_27'}},
	    {platform_define, "^(R|1|20)", deprecated_stacktrace}]}.

{deps, [%{if_version_below, "27",
	  {jiffy, "~> 1.1.1", {git, "https://github.com/davisp/jiffy.git", {tag, "1.1.1"}}},
	%},
	{yconf, "~> 1.0.15", {git, "https://github.com/processone/yconf.git", {tag, "1.0.16"}}},
	{idna, "~> 6.0", {git, "https://github.com/benoitc/erlang-idna", {tag, "6.0.0"}}},
	{base64url, "~> 1.0", {git, "https://github.com/dvv/base64url", {tag, "1.0.1"}}},
	{if_version_above, "23",
	  {jose, "~> 1.11.10", {git, "https://github.com/potatosalad/erlang-jose", {tag, "1.11.10"}}},
	  {jose, "1.11.1", {git, "https://github.com/potatosalad/erlang-jose", {tag, "1.11.1"}}}
	}]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{coveralls_coverdata    , "_build/test/cover/eunit.coverdata"}.
{coveralls_service_name , "github"}.

{xref_checks, [undefined_function_calls, undefined_functions, deprecated_function_calls, deprecated_functions]}.
{overrides, [{del, [{erl_opts, [warnings_as_errors]}]}]}.

{if_not_rebar3, {plugins, [override_deps_versions]}}.

%% Compiling Jose 1.11.10 with Erlang/OTP 27.0 throws warnings on public_key deprecated functions
{if_rebar3, {overrides, [{del, jose, [{erl_opts, [warnings_as_errors]}]}]}}.

{profiles, [{test, [{erl_opts, [{src_dirs, ["test"]}]}]}]}.

%% Local Variables:
%% mode: erlang
%% End:
%% vim: set filetype=erlang tabstop=8:
